body,html{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}


.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Pattern styles */
.left-half {
    background-color: #a4d7e0;
    float: left;
    width: 100%;
    height:800px;
    background-color: white;
    

    
}
.right-half {
    background-color: #e4a656;
    float: right;
    width: 100%;
    height:800px;
    background-color: white;
}

.half-width{
    width:46%;
}

.right{
    float:right;
}
.left{
    float:left;
    
}

.centered-text{
    font-family: 'Raleway', sans-serif;
    font-family: 'Libre Baskerville', serif;
    
    padding-left:90px;
    padding-right:90px;
}

.myimg{
    max-width:100%;
    

    height: 100%;
    
    object-fit: cover;
}
.times-italic{
    font-family: "Times New Roman", Times, serif;
    font-style:italic;
}
.damascus{
    font-size: 77px;
    /* text-align:center; */
    line-height: 60px;

   
    /* padding-bottom: 0px; */
    /* padding-left: 25px; */
    margin-bottom: -29px;
}

.back{
    
    color: black;
    position: absolute;
    margin: 37px 25px;
    font-family: 'Libre Baskerville', serif;
    cursor: pointer;
    font-size: 20px;
    position: fixed;
    transform: rotate(90deg);

}
.back:hover{
    font-family: "Times New Roman", Times, serif;
    font-style:italic;
    font-size:23px;
}







.flexbox-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.flexbox-item{
    width:200px;
    margin:10px;
    border:3px solid #333;
    background-color: #dfdfdf;
}

.flexbox-item-1{
    min-height:100px;
}

.flexbox-item-2{
    min-height:200px;
}

.flexbox-item-3{
    min-height:300px;
}

/* MEDIA QUERY ( AT SOME POINT) make left-half, right-half width:100% */

@media only screen and (min-width: 900px) {
    .left-half,.right-half{
        width:50%;
    }
  }