
*{
    cursor:unset !important;
}
body,html{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}


.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Pattern styles */
.left-half {
    background-color: #a4d7e0;
    float: left;
    width: 100%;
    height:800px;
    background-color: white;

    /* Added March 8 */
    height:100vh;
    /* padding-bottom:10px; */
    
}
.right-half {
    background-color: #e4a656;
    float: right;
    width: 100%;
    height:800px;
    background-color: white;

    /* Added March 8 */
    height:100vh;
    /* padding-bottom:10px; */
}

.half-width{
    width:46%;
}

.right{
    float:right;
}
.left{
    float:left;
    
}

.centered-text{
    font-family: 'Raleway', sans-serif;
    font-family: 'Libre Baskerville', serif;
    
    padding-left:90px;
    padding-right:90px;
}

.myimg{
    max-width:100%;
    height: 100%;
    
    object-fit: cover;
    /* allow image to shrink down in size */

    /* height: 68%; */
}
.writings .myimg{
    max-width:100%;
    height: 100%;
    
    object-fit: cover;
    /* allow image to shrink down in size */

    /* height: 68%; */
    height:50%;
    height: 100vh;
    width:100%;
}

.pt-10{
    padding-top:10px;
}
.pb-10{
    padding-bottom:10px;
}
.pl-10{
    padding-left:10px;
}
.pl-5{
    padding-left:5px;
}
.pr-10{
    padding-right:10px;
}
.pr-5{
    padding-right:5px;
}

.writings.navbar-link{
    color:black;
}
.writings.icon-bar{
    background-color:white !important;
}
.invert-white{
    filter: brightness(0) invert(1);
}



.times-italic{
    font-family: "Times New Roman", Times, serif;
    font-style:italic;
}
.damascus{
    font-size: 77px;
    /* text-align:center; */
    line-height: 60px;

   
    /* padding-bottom: 0px; */
    /* padding-left: 25px; */
    margin-bottom: -29px;
    
    font-size:60px;
}

.back{
    
    color: black;
    position: absolute;
    margin: 37px 25px;
    font-family: 'Libre Baskerville', serif;
    cursor: pointer;
    font-size: 20px;
    position: fixed;
    transform: rotate(90deg);

}
.back:hover{
    font-family: "Times New Roman", Times, serif;
    font-style:italic;
    font-size:23px;
}







.flexbox-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.flexbox-item{
    width:200px;
    margin:10px;
    border:3px solid #333;
    background-color: #dfdfdf;
}

.flexbox-item-1{
    min-height:100px;
}

.flexbox-item-2{
    min-height:200px;
}

.flexbox-item-3{
    min-height:300px;
}


/* Navbar fixes */
.all_container{
    display:flex !important;
}
.loader_container{
    display:none !important;
}
.logo{
    opacity:1 !important;
}
.desc1, .desc2{
    padding: 0vh 0vh !important;
}
.navbar-links{
    margin: 0px 0px !important;
}
.navbar-link:hover{
    cursor:pointer !important;
}

.writings_holder{
    padding-top: 127px;
    overflow-y:scroll;
}

.move-up-100{
    transform:translateY(-100px);
}
.move-down-100{
    transform:translateY(100px);
}
.writings .myimg:hover{
    opacity:0.5;
    cursor:pointer !important;
}
.none{
    display:none;
}

.koeman {
    opacity: 0.7 !important;
    /* background-blend-mode: multiply; */
    mix-blend-mode: difference !important;
    top:0 !important;
}

.title-big{
    font-size:90px;
}


/* phone set up */
.centered-text{
    padding-left:40px;
    padding-right:40px;
}
.title-big {
    font-size: 54px;
}
.body_text{
    font-size:9px;
}

/* MEDIA QUERY ( AT SOME POINT) make left-half, right-half width:100% */

@media only screen and (min-width: 900px) {
    .left-half,.right-half{
        width:50%;
    }
}

@media only screen and (min-height: 800px) {
    .left-half,.right-half{
        height:100vh;
    }
}
